DB_NAME=memorizy_db
DB_USER=memorizy_user
DB_PASSWORD=change-me
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/memorizy_db
JWT_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
JWT_EXPIRATION_MS=7776000000
HIBERNATE_DDL_AUTO=update
JPA_SHOW_SQL=false
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080